html, body {
   width: 100%;
   height: 100%;
}

body {
   margin: 0px;
   padding: 0px;
   background: #222222;
   background-image: url('images/gamebg.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

#wrapper {
   width: 850px;
   height: 700px;
}

#arena {
   margin: 0 auto;
   margin-top: 0px;
   width: 800px;
   height: 670px;
}

#game {
   background: url('images/JammyDodgerBG.png');
   position: absolute;
   width: 800px; 
   height: 650px;
   top: 50%;
   left: 50%;
   margin-left: -400px;
   margin-top: -325px;

   border: 2px inset rgba(0, 0, 50, 0.62);
   -webkit-box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
   -moz-box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
   -o-box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
   box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
}

#fps {
   font: 20px Arial;
   position: relative;
   margin-left: 1.5em;
   color: lightblue;  
   text-shadow: 2px 2px 2px rgba(0, 0, 80, 1.0);
   z-index: 1;

}

#copyright {
   float: left;
   margin-left: 2em;
   padding: 2px;
   color: blue;
   text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
   font-size: 0.8em;
}